body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    margin: 0px;
}

.name-highlight{
    color: rgb(81, 216, 81);
}

h1{
    font-size: 45px;
}

h2{
    font-size: 40px;
}

.button-link{
    text-decoration: none;
    background-image: linear-gradient(to right,lightgreen , green);
    border: 15px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;

}

.half-width{
    width: 40%;
    padding-left: 5%;
    float: left;
    margin: 2%;
}

.half-width img{
    width: 100%;
}

section{
    margin-top: 0px;
}

.top-banner{
    background-image: url("images/top-banner.png");
    float: left;
    background-repeat: no-repeat;
}

